head
      title Picture Puzzle
      meta(name="viewport" content="")
      link(rel="stylesheet", href="picture.css")
body
      - var n = 0;
      .image
            while n < 25
                  .image__fragment
                  - n++
      label JCardenas