head
      title Picture Puzzle
      meta(name="viewport" content="")
      link(rel="stylesheet", href="picture.css")
body
      label JCardenas Give u the Welcome to her first page create with .pug