$image-size: 600px;
$gutter-size: 4px;
$divisions: 5;
$fragment-size: $image-size / $divisions;

body {
  background-color:#1A1919;
}

.image {
  margin: 1rem auto;
  width: 46.8%;
  height: 99.5%;
}

.image:hover .image__fragment {
  background-size: 600%;
}

.image__fragment {
  background-image: url('https://unsplash.it/g/768/768?image=874');
// background: url(Beauty.jpg);
  background-size: 400%;
  margin: 0 $gutter-size $gutter-size 0;
  width: $fragment-size;
  height: $fragment-size;
  float: left;
  transition: background-size 1s;
}

@for $i from 1 through $divisions {
  .image__fragment:nth-child(#{$divisions}n + #{$i}) {
    background-position-x: ($i - 1) * (100% / $divisions);
  }
  
  @if $i < $divisions {
    .image__fragment:nth-child(n + #{$i * $divisions + 1}) {
      background-position-y: ($i) * (100% / $divisions);
    }
  }
}

label{
      color: #207553;
      font-size: 50px;
      position: absolute;
      margin-top: -200px;
      margin-right: 50px;
      right: 0;
      font-family: 'JCardenas';
      -webkit-box-reflect: below 2px linear-gradient(transparent, #2075534d);
      filter: blur(2px);
}

label:hover{
      filter: blur(0px);
      transition: 1s ease;
      transform: rotatex(50deg);
}

label::selection{
      background-color: transparent;
}

@font-face{
      font-family: 'JCardenas';
      src: url(Surfing\ Capital.ttf);
}